.container {
  background-color: beige;
  border: 4px solid black;
  height: 500px;
  /* flex*/
  display: flex;
  /* flex-direction: column;
  flex-direction: row-reverse; 
  flex-direction: column-reverse*/
  /* flex-wrap: wrap; */
  /* flex-wrap: nowrap; 
  flex-wrap: wrap-reverse*/

  /* horizontal center */
  justify-content: center;
  /* justify-content: start;
  justify-content: end;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly; */ 

  /* cross axis, vertical center*/
  align-items: center;
  /*align-items: start;
  align-items: end;
  align-items: stretch; */
}

.box {
  height: 200px;
  width: 200px;
  border: 2px solid brown;
  margin: 2px;
  padding: 2px;
}
/* align-self */
#box1 {
  background-color: yellow;
  /* align-self: start;
  align-self: center;
  align-self: end; */
}

#box2 {
  background-color: aqua;
}

#box3 {
  background-color: blue;
}
/* order => change the sequence */
/* flex-shrink =>shrink speed, flex-grow =>grow speed,flex-basis =>to set dimension */
#box4 {
  background-color: orange;
  /* order: -1;
  flex-shrink: 4;
  flex-grow: 4; */
  /* flex-basis: 400px; */
}